<h1 class="header center grey-text black-text">
  Sobre Nosotros</h1>

      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="images/log.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">
               <br>
                 <span class="black-text">
                Ubicacion: Instituto Tecnologico de Gustavo A. Madero <br>
                Autor: Ana Maory Beristain Flores<br>
                Materia: Pila Completa II <br>
                Docente: Jorge Rivalcoba <br>
              </span>
            </div>
     <div class="col left s10 m5">
        <div class="card-panel grey lighten-1 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s5">
              <img src="images/itgam.png"  class="square responsive-img"> <!-- notice the "circle" class -->
            </div>
            <br>
            <br>
            <div class="col s10">
              <span class="grey-text text-darken-3" style="font-size: 20px;">
                Somos una plataforma que les permitira a docentes y personas que cumples con los 
                requisitos solisitados para la postulacion de diferentes convocatorias que es 
                sistema del Instituto Tecnologico Nacional de Mexico tienen para ellos. 
              </span>
            </div>
          </div>
        </div>
      </div>

      