<div class="row center grey"
style="margin: 3em; padding: 2em; border-radius: 1em;">
    <h1 class="header center grey-text text-darken-3" style="font-size: 30px;">
        Convocatorias para Docentes en el ITGAM
   <div class="carousel">
    <a class="carousel-item" href="/server/views/convo"><img src="images/conv1.jpg"></a>
    <a class="carousel-item" href="/server/views/convo"><img src="images/con2.jpg"></a>
    <a class="carousel-item" href=""><img src="images/conv3.jpg"></a>
  </div>
          </div>
        </div>
      </div>

    <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-3">
            Puedes postularte a cualquier convocatoria que ofrese el intituto. <br>
            Solo es cuention de que cheques cuando es la apertura de la convocatoria de tu interes. 
        </h5>
    </div>
    <div class="row center">
        <a href="convocatorias/convo" id="download-button"
        class="btn-large grey darken-4">
           Ver Convocatorias
        </a>
    </div>
</div>

{{!-- inicio de tarjetas --}}

 <div class="row">
    <div class="col s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey-text text-darken-3" style="font-size: 20px;">
            <p class="header center">Convocatorias Abiertas</p>
            <p class="header center">Conoce nuestras Convocatorias en 
                apertura.
            </p>
               <p class="header center"> * Docente ITGAM 
            </p>
        </span>
         <div class="row center">
        <a href="convocatorias/convo" id="download-button"
        class="btn-large grey lighten-2 grey-text text-darken-3">
            Ver
        </a>
    </div>
      </div>
    </div>
    {{!-- segunda tarjeta --}}
    <div class="row center">
    <div class="col  s9 m4" >
      <div class="card-panel  grey lighten-1" >
        <span class=" grey-text text-darken-3" style="font-size: 15px;">
            <p class="header center">Convocatorias en proxima Apertura</p>S
            <p class="header center">Conoce nuestras Convocatorias en 
                proxima Apertura.
            </p>
            <p class="header center"> * Ingles Docente </p>
            <p class="header center"> * Beca santander</p>
        </span>
         <div class="row center">
        <a href="convocatorias/convo" id="download-button"
         class="btn-large grey lighten-2 grey-text text-darken-3">
            Ver
        </a>
    </div>
      </div>
    </div>
  </div>
