<form autocomplete="off" action="/user/register" method="post">
  <div class="card-content">
     <div class='input-field'>
    <label for='user-name'>Nombre de tu idea de proyecto</label>
    <input
      placeholder='El nombre del proyecto aqui 👇'
      id='user-name'
      name='name'
      type='text'
      class="validate"
    />
  </div>
  <div class='input-field'>
    <label for='user-description'>
      Descripción del proyecto
    </label>
    <textarea
      id='correo'
      name='fecha'
      class="validate" required></textarea>
  </div>
  </div>
  <div class="card-action"></div>
</form>